<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.demo.Staff.Mappers.StaffMapper"   >
    <insert id="Create" >
        insert  into staff (username,nickname,job,groupname,phonenumber)
        values(#{staff.username},#{staff.nickname}, #{staff.job},#{staff.groupname},#{staff.phonenumber} )
    </insert>

      <select id="countStaffExsit" resultType="int">
          select count(*) from staff where username =#{staff.username} or nickname = #{staff.nickname} ;
      </select>


    <select id="All" resultType="com.example.demo.Staff.entitys.Staff">
        SELECT * FROM staff
    <if test="keyword!=null">
--         where nickname like '%${keyword}%' 这里面的like是模糊查询的意思
         where nickname like '%${keyword}%'
    </if>
;
    </select>

    <select id="pageQueryByKeyword" resultType="com.example.demo.Staff.entitys.Staff">
        SELECT * FROM staff
        <if test="keyword!=null">
            where nickname like '%${keyword}%'
        </if>
       limit ${page*pagesize},#{pagesize}  ;
    </select>

    <select id="pageQueryByKeywordCount" resultType="int">
        SELECT Count(*) FROM staff
        <if test="keyword!=null">
            where nickname like '%${keyword}%'
        </if>
               ;
    </select>

<!--    查询可加入的值班人员的用户列表  查出不在值班人员列表中的用户3  用user表中用户1 减去 staff表中的用户2 ，                                        -->
<!--    SELECT  user.* FROM springboot.user  left join springboot.staff   on staff.userId=user.id  where  staff.userId is null;-->
    <select id="queryNotStaffUser" resultType="com.example.demo.Rbac.Entitys.User" >
        SELECT user.* FROM springboot.user left join springboot.staff  on staff.userId =  user.id   where  staff.userId   is null  ;

    </select>

    <delete id="deleteById">
        delete  from staff where id =#{id};
    </delete>

    <update id="enableById">
        UPDATE staff SET status = #{ enable } WHERE id = #{id};
    </update>

</mapper>