<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Rbac.Mappers.MenuMapper">

    <insert id="insert" >
        insert  into menu ( parentId,icon,name,link ) values(#{menu.parentId},#{menu.icon},#{menu.name},#{menu.link})
    </insert>

    <delete id="deleteById">
        delete  from menu where id =#{id};
    </delete>

    <update id=" updateById " >
        UPDATE menu SET  WHERE id = #{id};
    </update>

    <select id="selectById" >
        SELECT * FROM menu WHERE id = #{id};

    </select>

    <select id="queryAll" resultType="com.example.demo.Rbac.Entitys.Menu">
        SELECT *
        FROM menu
    </select>


</mapper>