.sidebar {
    width: 250px;
}

.item {
    background-color: rgb(244, 246, 252);
    width: 100%;
    display: inline-block;
    color: #000;
    padding: 4px 12px;
    font-size: .8rem;
    border: 1px solid rgb(244, 246, 252);
}

.item:hover {
    border: 1px dotted blue;
}

.widget-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 12px 0;
    column-gap: 15px;
    row-gap: 6px;
}