<!-- <nz-card>
    <nz-layout>
        <nz-header>表单设计器</nz-header>

    </nz-layout>
</nz-card> -->

<!-- <nz-modal nzTitle="表单设计器" [nzVisible]="true" [nzWidth]="'100%'" [style]="{height:'100vh'}"> -->
<nz-card>
    <div style="display: flex;min-height:900px;">
        <div class="form-builder-content">
            <form-toolbar></form-toolbar>
        </div>
        <div style="width:calc(100vw - 700px);;flex-shrink: 0;">



            <form-builder-content></form-builder-content>

        </div>
        <div style="width: 250px;flex-shrink: 0;">
            <form-builder-option-sidebar></form-builder-option-sidebar>
        </div>
    </div>
</nz-card>
<!-- </nz-modal> -->