<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.commons.mappers.SmsMapper">

    <insert id="Create" >
        insert  into sms ( phonenumber,code,sentAt,type ) values(#{sms.phonenumber},#{ sms.code },#{sms.sentAt},#{ sms.type })
    </insert>

<!--    <select id="queryNotStaffUser" resultType="com.example.demo.passport.entitys.User" >-->
<!--        SELECT user.* FROM springboot.user left join springboot.staff  on staff.userId =  user.id   where  staff.userId   is null  ;-->

<!--    </select>-->


    <select id="querySentSmsExpire"  resultType="com.example.demo.passport.entitys.Sms" >
        SELECT * FROM springboot.sms
        where unix_timestamp(sms.sentAt) > unix_timestamp(#{sentAt})
          and phoneNumber=#{phoneNumber} order by sentAt desc
    </select>


</mapper>