<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.passport.Mappers.UserMapper">

    <insert id="create">
        insert into user (username, password, phoneNumber)
        values (#{user.username}, #{user.password}, #{user.phoneNumber});
    </insert>


    <select id="countUserExsit" resultType="int">
        SELECT count(*)
        FROM user
        where username = #{user.username}
           or phoneNumber = #{user.phoneNumber};
    </select>

    <select id="findUserByUsername" resultType="com.example.demo.passport.entitys.User">
        SELECT *
        FROM user
        where username = #{username};
    </select>

    <update id="updatePasswordByPhoneNumber">
        UPDATE user
        SET password = #{password}
        where phoneNumber = #{phoneNumber};
    </update>

    <delete id="deleteById">
        delete
        from user
        where id = #{id};
    </delete>


</mapper>